.box{
	width:150px;
	height:150px;
	margin-bottom: 20px;
	margin-right:20px;
	background-color:salmon;
}
.row1{
	display:inline-block;
}
.row2{
	float:left;
}
.row3-absolute{
	position:absolute;
	top:360px;
}
.b2{
	left:178px;
}
.b3{
	left:350px;
}
